@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* , body {
  background: #E6D9EB;
}

.font16px {
  font-size:16px;
}

.font18px {
  font-size:18px;
}

.font20px {
  font-size:20px;
}

.font24px {
  font-size:24px;
}

.font28px {
  font-size:28px;
}

.font32px {
  font-size:32px;
}

.font40px {
  font-size:40px;
}

.text-purple {
  color:#7e3f98;
}

.bg-purple {
  background: #7e3f98;
}

.bg-yellow {
  background: #f3d479;
}